<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Voiture à Vendre - Skoda</title>
        <meta name="description" content="DESCRIPTION">
        <link rel="stylesheet" href="../Css/style.css">
        <script src="../Js/script.js" defer></script>
        <script src="../Js/app.js" async></script>
     </head>
     <header>
      <nav>
         <span><a href="accueilView.html">
             <img src="../Assets/logo-skoda.png" alt="logo" height="25px">
            </a>
            </span>
         <ul>
            <li><a href="accueilView.html">Accueil</a></li>
            <li>
               <div class="dropdown-menu">
                  <button class="dropdown-btn">Nos Catalogues &#11167;</button>
                  <div class="dropdown-content">
                     <a href="catalogueAuto.html">Nos Voitures</a>
                     <a href="cataloguePiece.html">Nos Pièces détachées</a>
                  </div>
               </div>
            </li>
            <li><a href="contact.html">Nous contacter</a></li>
         </ul>
      </nav>
   </header>
<body>

  <br><br><br>

  <h1>Skoda Octavia </h1>

  <div class="product-container">
    <div class="product-image">
      <img src="..\Assets\skoda\octavia.jpg" alt="Skoda Octavia" width="1080" height="720">
    </div>
    <div class="product-details">
      <h2>Skoda Octavia </h2>
      <p>Description : La Skoda Octavia  est une berline sportive offrant un équilibre parfait entre performance et confort.</p>
      <p>Année : 2022</p>
      <p>Prix : $XX,XXX</p>
      <button>Acheter Maintenant</button>
      
      <div class="technical-details">
        <h3>Caractéristiques Techniques :</h3>
        <ul>
          <li>Moteur : 2.0L Turbo</li>
          <li>Puissance : 220 chevaux</li>
          <li>Transmission : Automatique à 7 vitesses</li>
          <li>Système de Navigation</li>
          <li>Caméra de recul</li>
          <li>Système Audio Premium</li>
        </ul>
      </div>
    </div>
  </div>

</body>
<footer>
  <p>&copy; vroumvroum. All rights reserved.</p>
  <a href="https://maps.app.goo.gl/nqt5NLDLMV7Gi6Tk6" target="_blank" rel="noreferrer">Flat 5a, Mornington Avenue Mansions, Mornington Ave, London W14 8UW, Royaume-Uni</a>
</footer>
</html>
