body {
    background-color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
}

nav span {
    justify-self: left;
}

nav ul {
    justify-content: flex-end;
    display: flex;
    list-style: none;
    margin: 0;
    padding-right: 5px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 10px #fff;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
}
.dropdown-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    text-shadow: 0px 0px 10px #f1f1f1;

}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    backdrop-filter: blur(15px);
  }
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-shadow: 0px 0px 10px #f1f1f1;
  }

    .dropdown-menu:hover .dropdown-content {
        display: block;
    }

video {
    width: 100%;
    height: 100%;
}
.container {
    overflow: hidden;
    /* Cache les éléments qui dépassent du container */
}
/* Définition du carousel */
.carousel {
    position: relative;
    /* Le carousel est positionné relativement à son parent */
}
/* Définition de l'élément contenant les diapositives */
.carousel-inner {
    display: flex;
    /* Affiche les éléments en ligne */
    overflow: hidden;
    /* Cache les éléments qui dépassent */
    height: 100vh;
    /* Hauteur égale à 100% de la hauteur de la vue */
    flex-wrap: nowrap;
    /* Empêche les éléments de se placer sur plusieurs lignes */
}
/* Définition des diapositives */
.slide {
    flex: 0 0 100%;
    /* Largeur de chaque diapositive est de 100% */
    height: 100%;
    /* Hauteur de chaque diapositive est de 100% */
    transition: .5s ease-in-out;
    /* Ajout d'une animation douce pour la transition entre les diapositives */
}
/* Définition de l'affichage de l'image de chaque diapositive */
.slide img {
    width: 100%;
    /* Largeur de l'image est de 100% */
    height: 100%;
    /* Hauteur de l'image est de 100% */
    object-fit: cover;
    /* Couvre tout l'espace disponible */
}
/* Définition des boutons de contrôle du carousel */
.carousel-controls {
    position: absolute;
    /* Les boutons sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 4%;
    /* La distance à gauche est de 10% */
    right: 4%;
    /* La distance à droite est de 10% */
    top: 50%;
    /* La distance du haut est de 50% */
    border-color :#00000000;
    display: flex;
    /* Affiche les boutons en ligne */
    justify-content: space-between;
    /* Espacement égal entre les boutons */
}
/* Style des boutons de contrôle */
.carousel-controls button {
    padding: 10px;
    /* Ajout de padding pour un meilleur contrôle */
    background: rgba(76, 175, 79, 0)
    /* Arrière-plan en aquamarine */
}
/* Définition des points de contrôle */
.carousel-dots {
    position: absolute;
    /* Les points sont absolument positionnés */
    z-index: 5;
    /* Ils sont placés au-dessus des autres éléments */
    left: 50%;
    /* La distance à gauche est de 50% */
    right: 50%;
    /* La distance à droite est de 50% */
    bottom: 5%;
    /*La distance du bas est de 10% */
    display: flex;
    /* Affiche les points en ligne */
    justify-content: center;
    /* Centrage des points */
}
/* Style des points de contrôle */
.carousel-dots .dot {
    border-radius: 50%;
    /* Les points sont en forme de cercle */
    margin: 5px;
    /* Ajout d'un margin pour un meilleur contrôle */
    cursor: pointer;
    /* Curseur en forme de main pour un meilleur contrôle */
}
/* Styles pour les points de navigation du carrousel */
.carousel-dots .active {
    /* Border de 10px pour le point actif */
    border: 10px solid #0E3A2F !important;
    /* !important permet de surcharger les autres styles éventuels */
}
.carousel-dots .inactive {
    /* Border de 10px pour les points inactifs */
    border: 10px solid #000000;
}

.catalog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.catalog-item {
    border: 1px solid #ccc;
    padding: 1rem;
}

.catalog-item-image {
    text-align: center;
}

.catalog-item-image img {
    max-width: 100%;
    height: auto;
}

.catalog-item-text {
    font-weight: bold;
}

.search {
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.sort {
    margin-right: 0.5rem;
}

.sort-option {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
}

.product-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.product-image {
  max-width: 50%;
}
.product-details {
  max-width: 40%;
}
h1, h2, p {
  margin: 0;
}
.technical-details {
  margin-top: 20px;
}
button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}