<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Skoda 2.0</title>
   <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="../Css/style.css">
   <script src="../Js/script.js" defer></script>
   <script src="../Js/app.js" async></script>
</head>
<body>

   <header>
      <nav>
         <span><a href="accueilView.html">
             <img src="../Assets/logo-skoda.png" alt="logo" height="25px">
            </a>
            </span>
         <ul>
            <li><a href="index.php">Accueil</a></li>
            <li>
               <div class="dropdown-menu">
                  <button class="dropdown-btn">Nos Catalogues &#11167;</button>
                  <div class="dropdown-content">
                     <a href="catalogueAuto.html">Nos Voitures</a>
                     <a href="cataloguePiece">Nos Pièces détachées</a>
                  </div>
               </div>
            </li>
            <li><a href="">Nous contacter</a></li>
            <li><a href="">Skoda &amp; Vous</a></li>
         </ul>
      </nav>
   </header>
        <video autoplay loop muted>
            <source src="../Assets/bgVidSkodaOctavia.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <body>
         <div class="container">
             <div class="carousel">
                 <div class="carousel-inner">
                     <div class="slide">
                         <img src="C:\Users\abrou\OneDrive\Documents\GitHub\skodajfromaj\PHPSkodajFromj\Assets\skoda\skoda_octavia\S4-s0-essai-video-skoda-octavia-berline-2020-la-bonne-a-tout-faire-s-embourgeoise-636592-147174.jpg"
                             alt="Image 1">
                     </div>
                     <div class="slide">
                         <img src="C:\Users\abrou\OneDrive\Documents\GitHub\skodajfromaj\PHPSkodajFromj\Assets\skoda\skoda_kamiq\S4-s0-essai-video-skoda-kamiq-601508-144677.jpg"
                             alt="Image 2">
                     </div>
                     <div class="slide">
                         <img src="C:\Users\abrou\OneDrive\Documents\GitHub\skodajfromaj\PHPSkodajFromj\Assets\skoda\skoda_fabia\S4-s0-essai-skoda-fabia-2021-il-n-y-a-pas-que-la-taille-qui-compte-688224-151300.jpg"
                             alt="Image 3">
                     </div>
                     <div class="slide">
                         <img src="C:\Users\abrou\OneDrive\Documents\GitHub\skodajfromaj\PHPSkodajFromj\Assets\skoda\skoda-scala\S4-s0-essai-video-skoda-scala-587943-142941.jpg"
                             alt="Image 4">
                     </div>
                 </div>
                 <div class="carousel-controls">
                     <button id="prev">Précédent</button>
                     <button id="next">Suivant</button>
                 </div>
                 <div class="carousel-dots"></div>
             </div>
         </div>
     </body>
<footer>
    <p>&copy; vroumvroum. All rights reserved.</p>
    <a href="https://maps.app.goo.gl/nqt5NLDLMV7Gi6Tk6" target="_blank" rel="noreferrer">Flat 5a, Mornington Avenue Mansions, Mornington Ave, London W14 8UW, Royaume-Uni</a>
</footer>
