<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Voiture à Vendre - Skoda Kamiq</title>
  <meta name="description" content="DESCRIPTION">
  <link rel="stylesheet" href="../Css/style.css">
  <script src="../Js/script.js" defer></script>
  <script src="../Js/app.js" async></script>
</head>
<body>

  <h1>Skoda Kamiq</h1>

  <div class="product-container">
    <div class="product-image">
      <img src="..\Assets\skoda\kamiq.jpg" alt="Skoda Kamiq">
    </div>
    <div class="product-details">
      <h2>Skoda Kamiq</h2>
      <p>Description : La Skoda Kamiq est un SUV compact offrant un design moderne et des fonctionnalités avancées.</p>
      <p>Année : 2022</p>
      <p>Prix : $XX,XXX</p>
      <button>Acheter Maintenant</button>
      
      <div class="technical-details">
        <h3>Caractéristiques Techniques :</h3>
        <ul>
          <li>Moteur : 1.5L TSI</li>
          <li>Puissance : 150 chevaux</li>
          <li>Transmission : Automatique à 6 vitesses</li>
          <li>Système d'Infotainment</li>
          <li>Toit Panoramique</li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
